<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a Chat</title>
    
</head>
<body class="all">
    <h3>Create a new chat</h3>
    <form action="/chats" method="POST">
        <input placeholder="Who are you..." name="from"> <br/><br/>
        <textarea name="message" placeholder="Write a message..."></textarea><br/><br/>
        <input placeholder="Recipient..." name="to"><br/><br/>
        <button>Create</button><br/>
    </form>
</body>
</html>